body{
	margin: 0;
	padding: 0;
}
.top{
	background-size:100% 100%;
	background: url("/assets/img/login_01.gif")no-repeat;
	width: 100%;
	height: 120px;
}
.center{
		background-size:100% 100%;
		background: url("/assets/img/login_02.gif")no-repeat;
	   	width: 100%;
		height: 265px;
		position: relative;
}
.blank{
		background-size:100%;
		background-color:#e0f1f8 ;
		width: 100%;
		height: 485px;
}
.bottom{
		background-size:100% 100%;
		background: url("/assets/img/login_04.gif")no-repeat;
		background-size:100%;
		background-color:#e0f1f8 ;
		width: 100%;
		height: 108px;
}

#login_form{
			position: absolute;
			top:125px;
			left: 280px;
}	 	 