.box {
	width: 700px;
	background-color: #f5f5f5;
	margin: 50px auto;
	padding: 20px;
}
.box-nav {
	color: black;
	font-size: 25px;
}
.button {
	color: #fff;
	font-size: 20px;
	text-align: center;
	width: 260px;
	border: 1px solid #fff;
	background-color: #3385ff;
	margin: 15px 210px;
	padding: 5px 0;
}
#score {
	font-size: 35px;
    color: red;
}